<h1> Rental request for <%= Cat.find(@rental.cat_id).name %> </h1>
<h3> <table>
  <th> Rental request summary </th>
  <tr><td>Status:</td> <td> <%= @rental.status %></td> </tr>
  <tr><td>Start Date:</td> <td> <%= @rental.start_date %></td> </tr>
  <tr><td>End Date:</td> <td> <%= @rental.end_date %></td> </tr></table></h3>
