<h1>Register a New Cat</h1>

<form action="/cats" method="POST">

<label for="cat_name">Name: </label>
<input type="text" id="cat_name" name="cat[name]">
<br>
<br>

<label>Sex: </label>
<input type="radio" name="cat[sex]" id="cat_sex_female" value="F">
<label for="cat_sex_female">Female</label>

<input type="radio" name="cat[sex]" id="cat_sex_male" value="M">
<label for="cat_sex_male">Male</label>
<br>
<br>

<label for="cat_birth_date">Cat Birth Date</label>
<input type="date" name="cat[birth_date]" id="cat_birth_date">
<br>
<br>

<label for="cat_color">Color: </label>
<select name="cat[color]" id="cat_color">
  <option value="white">White</option>
  <option value="black">Black</option>
  <option value="option">Orange</option>
  <option value="gray">Gray</option>
</select>
<br>
<br>

<label for="cat_description">Cat Biography:</label>
<textarea name="cat[description]" id="cat_description"></textarea>
<br>
<input type='submit' value="Create Cat">


</form>
